repos:
  # General file cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Black - Python code formatter
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=100]
        types: [python]

  # isort - Python import sorter
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]
        types: [python]

  # Flake8 - Python linter
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: [--max-line-length=100, "--extend-ignore=E203,W503"]
        types: [python]

  # MyPy - Python type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-PyYAML, types-toml]
        args: [--ignore-missing-imports, --no-strict-optional, --disable-error-code=comparison-overlap, --disable-error-code=unreachable, --disable-error-code=no-any-return]
        types: [python]
        exclude: ^examples/
